.phone-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
}

.phone {
  width: 350px;
  height: 700px;
  background-color: #b8b8b8;
  border: 15px solid #2c2c2c;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.screen {
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  flex-grow: 1;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

button {
  height: 35px;
  margin: 10px;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 7px;
  border: none;
}

.top-left {
  position: absolute;
  top: 0;
  left: 0;
}

.top-right {
  position: absolute;
  top: 0;
  right: 0;
}

.bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
}

.bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
}
