/* Tooltip container */
.tooltip-container {
  position: relative;
  display: inline-block;
}

/* Tooltip */
.tooltip {
  position: absolute;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 14px;
  border-radius: 4px;
  z-index: 1;
  pointer-events: none;
  white-space: nowrap;
}

.top {
  transform: translateY(-100%);
  bottom: calc(100% + 6px);
  left: 50%;
  transform: translateX(-50%);
}

.right {
  transform: translateX(100%);
  top: 50%;
  left: calc(100% + 6px);
  transform: translateY(-50%);
}

.bottom {
  transform: translateY(100%);
  top: calc(100% + 6px);
  left: 50%;
  transform: translateX(-50%);
}

.left {
  transform: translateX(-100%);
  top: 50%;
  right: calc(100% + 6px);
  transform: translateY(-50%);
}

/* Arrow */
.arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
}

.arrow-top {
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 6px 6px 0 6px;
  border-color: rgba(0, 0, 0, 0.8) transparent transparent transparent;
}

.arrow-right {
  top: 50%;
  left: -6px;
  transform: translateY(-50%);
  border-width: 6px 6px 6px 0;
  border-color: transparent rgba(0, 0, 0, 0.8) transparent transparent;
}

.arrow-bottom {
  top: -6px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 0 6px 6px 6px;
  border-color: transparent transparent rgba(0, 0, 0, 0.8) transparent;
}

.arrow-left {
  top: 50%;
  right: -6px;
  transform: translateY(-50%);
  border-width: 6px 0 6px 6px;
  border-color: transparent transparent transparent rgba(0, 0, 0, 0.8);
}

.tooltip img {
  width: 180px;
  display: block;
  margin: auto;
}
