.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  height: 100vh;
  width: 100%;
  background-color: #ffffff;
}

.input-box-container {
  flex: 2;
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  background-color: #ffffff;
}

.phone-simulator-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
  background-color: #ffffff;
}
